*{
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans',Sans-serif;
}
:root{
    --azul-escuro-:#122a57;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;

}

header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    color: #fff;
    align-items: center;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    align-items: center;
    justify-content: space-between;
}

.list-items a{
    color:#fff;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

div img{
    width: 100%;
    display: block;
}

.texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
} 

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos{
    min-width: 420px;
}

.container-externo{
    background-color: #122a57;
    width: 100%;   
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
}

.list-servicos{
    display: flex;
    justify-content: space-around;
}

.list-servicos .item-servico{
    text-align: center;
}

.item-servico img{
    width: 100%;
    margin: auto;
}

.item-servico p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico a {
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    color: #122a57;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;   
}

#planos h2{
    font-size: 32px;    
}

.list-planos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid #122a57;
    padding: 10px;
    margin-right: 20px;
    max-width: 240px; 
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px; 
}

.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-top: 20px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

footer{
    background-color: #122a57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer.footer{
    justify-content: space-between;
    color: #fff;
}

/* mobile*/

@media (max-width: 992px) {
    .flex-container{
        flex-direction: column;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
    .apresentacao.texto-apresentacao{
        width: 100%;
    }
    #quem-somos{
        flex-direction: column-reverse;
    }
    #quem-somos img{
        min-width: 320px;
        margin: auto;       
    }
    .list-servicos{
        flex-direction: column;
    }
    .item-servico img{
        width: 50%;
        margin: auto;
    }
    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}


/**
.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu li a{
    color: white;
    display: block;
    padding: 10px 20px 10px 20px;
    justify-content: space-around;
}



/**
    height: 70px;
    background-color: var(--azul-escuro-);
    color: white;
    flex-wrap: wrap;   
    justify-content: space-around;
    align-items: center;
**/